* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
#float_head {
    min-width: 1260px;
    width: 100%;
    z-index: 800;
}

.top_list_title {
    height: 30px;
    background-color: #ffffff;
}

.list_title_inner {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 12px;
    color: #000000;
}

.navigation_left {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    min-width: 400px;
}

.navigation_center {
    margin-right: 25px;
    float: right;
}

.logochar {
    width: 90px;
    height: 10px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat 0 -92px;
    /* display: inline-block; */
    vertical-align: middle;
    margin: 10px 15px 10px 0;
    float: left;
}

#welcome {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

#welcome a {
    color: #000000;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: left;
}

.top_inter {
    width: 1px;
    height: 16px;
    background: #565656;
    margin: 7px 10px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.cart_img{
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat -166px 0;
    float: left;
    width: 16px;
    height: 13px;
    margin-top: 8px;
    margin-right: 10px;
}

.top_left_title a{
    color: #000000;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
} 

.comm_logo_contain {
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background: #020202;
}

.comm_logo_contain .comm_contain_left{
    height: 50px;
    width: auto;
    float: left;
    line-height: 50px;
    min-width: 850px;
}

.comm_logo_contain .logo_img{
    width: 93px;
}

.comm_logo_contain a{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    float: left;
}

.comm_logo_contain .logo_img_div {
    display: block;
    width: 53px;
    height: 14px;
    margin: 18px 20px;
    background-image: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png);
    background-repeat: no-repeat;
}

.comm_logo_contain .logo_div_negtive {
    background-position: -166px -41px;
}

.comm_logo_contain .logo_inter {
    width: 1px;
    height: 20px;
    background: #4c4a46;
    display: inline-block;
    margin: 15px 0;
    float: left;
}

.comm_logo_contain .choice_name {
    padding:  0 16px;
    position: relative;
    color: #ffffff;
}
.comm_logo_contain a:hover {
    color: red;
    background: #ffffff;
}
.comm_logo_contain .choice_name_span {
    display: block;
    float: left;
    font-size: 14px;
    width: auto;
    height: 50px;
    line-height: 50px;
}

.comm_logo_contain .choice_triangle{
    float: left;
    width: 7px;
    height: 4px;
    background-image: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png);
    background-repeat: no-repeat;
    margin: 22px 0 21px 5px;
}

.comm_logo_contain .choice_triangle_negtive{
    background-position: -166px -14px;
}

.comm_logo_contain .nav_logo_negtive{
    background-position: 0 0;
}

.comm_logo_contain .nav_logo {
    float: left;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin: 13px 5px 13px 0;
}

.comm_logo_contain .comm_contain_right {
    height: 50px;
    width: auto;
    float: right;
    position: relative;
    line-height: 50px;
    min-width: 340px;
}
.comm_logo_contain .comm_contain_right a {
    height: 50px;
    width: 65px;
    display: inline-block;
    margin-right: 15px;
    line-height: 50px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    float: left;
}

.comm_logo_contain .comm_contain_right .contain_right{
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/fax_hot.gif) no-repeat;
    width: 59px;
    height: 45px;
    position: absolute;
    top: -7px;
    left: 0;
}

.comm_contain_right .search_input {
    display: inline-block;
    float: left;
    height: 25px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat 0 -67px;
    width: 211px;
    vertical-align: middle;
    margin: 13px 40px 12px 0;
}

.search_input input {
    display: block;
    float: left;
    line-height: 18px;
    width: 170px;
    height: 18px;
    border: none;
    margin: 3px 0 2px 6px;
    color: #C4C4C4;
    font-style: italic;
    font-size: 100%;
}
.footer_list{
    min-width: 1260px;
    width: 100%;
    overflow: hidden;
    margin: 40px 0 28px 0;
}
.footer_content {
    width: 960px;
    height: 90px;
    margin: 8px auto 0;
}
#footerBd {
    /* background: none repeat scroll 0 0 #000; */
    color: #969492;
    font-size: 12px;
    height: 60px;
    width: 100%;
    position: relative;
    top: 13px;
}
.footer_tip {
    text-align: center;
    margin-top: 30px;
    height: 47px;
}

.footer_content .footer_content_item {
    width: 240px;
    height: 60px;
    float: left;
    margin-bottom: 30px;
}
.footer_content .footer_content_item .item_image {
    width: 46px;
    height: 46px;
    margin: 6px 20px 6px 14px;
    float: left;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_footer_001.png) no-repeat;
    overflow: hidden;
}
.footer_content .footer_content_item .item_content {
    width: 159px;
    height: 45px;
    border-left: 1px solid #2d2a26;
    float: left;
    margin: 5px 0 10px 0;
}
.footer_content .footer_content_item .item_content .content_title {
    display: block;
    width: 139px;
    height: 26px;
    margin-left: 20px;
    line-height: 26px;
    color: #575551;
    font-size: 20px;
}
.content_detail {
    width: 139px;
    height: 19px;
    margin-left: 20px;
    color: #575551;
    line-height: 19px;
}
#footerBd ul {
    display: inline;
    float: left;
    /* line-height: 60px; */
    margin-left: 32%;
    position: absolute;
    top: 15px;
}
#footerBd ul li {
    float: left;
    height: 60px;
    width: auto;
    display: block;
    line-height: 82px;
}
#footerBd ul li a {
    border-right: 1px solid #4d4d4d;
    color: #969492;
    padding: 0 15px;
    line-height: 60px;
}
.footerRi {
    /* left: 37%; */
    margin-right: 20px;
    margin-top: 8px;
    /* position: absolute; */
    text-align: center;
}
.footerRi p {
    margin-bottom: 3px;
    font-family: SimHei;
}
.footerRi {
    /* left: 37%; */
    margin-right: 20px;
    margin-top: 8px;
    /* position: absolute; */
    text-align: center;
}
.footer_tip {
    text-align: center;
    margin-top: 30px;
    height: 47px;
}
.footer_tip a {
    display: inline-block;
    width: auto;
    height: 47px;
}   
img {
    vertical-align: top;
}
.footer_list{
    min-width: 1260px;
    width: 100%;
    overflow: hidden;
    margin: 40px 0 28px 0;
}
.footer_content {
    width: 960px;
    height: 90px;
    margin: 8px auto 0;
}
#footerBd {
    /* background: none repeat scroll 0 0 #000; */
    color: #969492;
    font-size: 12px;
    height: 60px;
    width: 100%;
    position: relative;
    top: 13px;
}
.footer_tip {
    text-align: center;
    margin-top: 30px;
    height: 47px;
}

.footer_content .footer_content_item {
    width: 240px;
    height: 60px;
    float: left;
    margin-bottom: 30px;
}
.footer_content .footer_content_item .item_image {
    width: 46px;
    height: 46px;
    margin: 6px 20px 6px 14px;
    float: left;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_footer_001.png) no-repeat;
    overflow: hidden;
}
.footer_content .footer_content_item .item_content {
    width: 159px;
    height: 45px;
    border-left: 1px solid #2d2a26;
    float: left;
    margin: 5px 0 10px 0;
}
.footer_content .footer_content_item .item_content .content_title {
    display: block;
    width: 139px;
    height: 26px;
    margin-left: 20px;
    line-height: 26px;
    color: #575551;
    font-size: 20px;
}
.content_detail {
    width: 139px;
    height: 19px;
    margin-left: 20px;
    color: #575551;
    line-height: 19px;
}
#footerBd ul {
    display: inline;
    float: left;
    /* line-height: 60px; */
    margin-left: 32%;
    position: absolute;
    top: 15px;
}
#footerBd ul li {
    float: left;
    height: 60px;
    width: auto;
    display: block;
    line-height: 82px;
}
#footerBd ul li a {
    border-right: 1px solid #4d4d4d;
    color: #969492;
    padding: 0 15px;
    line-height: 60px;
}
.footerRi {
    /* left: 37%; */
    margin-right: 20px;
    margin-top: 8px;
    /* position: absolute; */
    text-align: center;
}
.footerRi p {
    margin-bottom: 3px;
    font-family: SimHei;
}
.footerRi {
    /* left: 37%; */
    margin-right: 20px;
    margin-top: 8px;
    /* position: absolute; */
    text-align: center;
}
.footer_tip {
    text-align: center;
    margin-top: 30px;
    height: 47px;
}
.footer_tip a {
    display: inline-block;
    width: auto;
    height: 47px;
}   
img {
    vertical-align: top;
}
.container {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 79px;
    background-color: rgb(238, 239, 239);
    min-width: 1260px;
    font-family: 微软雅黑;
}
#PG_Reg {
    margin: 0 auto;
    width: 990px;
    background-color: #fff;
    border-radius: 7px;
}
#PG_Reg .PG_Reg_body .PG_Reg_header{
    width: 810px;
    height: 78px;
    margin: 0 90px 18px;
    line-height: 78px;
    border-bottom: 1px dashed #e2e2e2;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 微软雅黑;
}
#PG_Reg .PG_Reg_body .PG_Reg_content{
    margin: 0 90px;
    overflow: auto;
}
.sign_in_registration{
    margin: 0 auto;
    width: auto;
    font-family: 微软雅黑;
}
.sign_in_registration .line {
    margin: 0 auto 10px;
    width: 374px;
    position: relative;
}
.sign_in_registration input.ipt_t {
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    color: #555;
    font-family: "微软雅黑";
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    padding-left: 16px;
    width: 374px;
}

.pwd-safety-revel {
    position: absolute;
    top: 16px;
    right: 5px;
}
.pwd-safety-revel .safety-name {
    margin-right: 4px;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #808080;
}
.pwd-safety-revel .safety-rank {
    display: inline-block;
    background-color: #a2a2a2;
    width: 22px;
    height: 8px;
}
.PG_Reg_content #yzm_img {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 4px;
    height: 34px;
}
#smsSend{
    background-color: #eeefef;
    border: 0 none;
    font-family: "微软雅黑";
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 116px;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.button_hy_1 {
    width: 374px;
    background: #ee2737;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    font-family: '微软雅黑';
}
.PG_Reg_content .other-login-title {
    color: #808080;
    font-family: "微软雅黑";
    font-size: 15px;
}
.PG_Reg_content .other-login-plat span {
    display: inline-block;
    width: 50px;
    height: 49px;
    cursor: pointer;
}
.PG_Reg_content .other-login-plat .union_qq {
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/login_register/union_login.png) no-repeat 0 0;
}
.PG_Reg_content .other-login-plat .union_alipay {
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/login_register/union_login.png) no-repeat -107px 0;
}
.PG_Reg_content .other-login-plat span:hover{
	background-image: url('https://cdns.lining.com/shop/lining/theme/xth2/images/login_register/union_login_active.png') !important;
}
.PG_Reg_content .other-login-plat .union_weixin {
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/login_register/union_login.png) no-repeat -213px 0;
}
.form-group-error .form-group__message {
    display: inline-block;
    font-size: 12px;
    color: #c33
}

.form-group-error .btn:disabled,
.form-group-error button:disabled {
    background-color: #ccc!important;
    cursor: not-allowed!important
}

.form-group-error input,
.form-group-error input:focus,
.form-group-error input:hover,
.form-group-error textarea {
    border-color: #c33!important
}