* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    min-width: 990px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

.wrapper-img {
    width: 1920px;
    margin-left: -465px;
    position: relative;
}

.wrapper-img img {
    display: block;
    vertical-align: top;
    border: 0;
}

.newGoods {
    position: absolute;
    overflow: hidden;
    width: 840px;
    height: 577px;
    left: 540px;
    top: 105px;
}

.newGoods ul {
    list-style: none;
    display: flex;
}

.newGoods ul li {
    float: left;
}

.ulDom {
    position: fixed;
    width: 140px;
    height: 420px;
    top: 200px;
    right: 240px;
    z-index: 100;
    overflow: hidden;
}

.ulDom ul {
    list-style: none;
    display: flex;
}

.ulDom li {
    width: 100%;
    height: 80px;
    background: #3b3f60;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.pbtn {
    width: 100px;
    height: 100px;
    /* border: 1px solid #000; */
    position: absolute;
    top: 490px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
}

.slider-control {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100px;
    top: 50%;
    margin-top: -50px;
    font-size: 60px;
}