* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

ol li,
ul li {
    list-style: none;
}

img {
    border: none;
    outline: none;
}

#float_head {
    min-width: 1260px;
    width: 100%;
    z-index: 800;
}

.top_list_title {
    height: 30px;
    background-color: #ffffff;
}

.list_title_inner {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 12px;
    color: #000000;
}

.navigation_left {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    min-width: 400px;
}

.navigation_center {
    margin-right: 25px;
    float: right;
}

.logochar {
    width: 90px;
    height: 10px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat 0 -92px;
    /* display: inline-block; */
    vertical-align: middle;
    margin: 10px 15px 10px 0;
    float: left;
}

#welcome {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

#welcome a {
    color: #000000;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: left;
}

.top_inter {
    width: 1px;
    height: 16px;
    background: #565656;
    margin: 7px 10px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.cart_img {
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat -166px 0;
    float: left;
    width: 16px;
    height: 13px;
    margin-top: 8px;
    margin-right: 10px;
}

.top_left_title a {
    color: #000000;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.comm_logo_contain {
    width: 100%;
    height: 50px;
    margin: 0px auto;
    background: #020202;
}

.comm_logo_contain .comm_contain_left {
    height: 50px;
    width: auto;
    float: left;
    line-height: 50px;
    min-width: 850px;
}

.comm_logo_contain .logo_img {
    width: 93px;
}

.comm_logo_contain a {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    float: left;
}

.comm_logo_contain .logo_img_div {
    display: block;
    width: 53px;
    height: 14px;
    margin: 18px 20px;
    background-image: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png);
    background-repeat: no-repeat;
}

.comm_logo_contain .logo_div_negtive {
    background-position: -166px -41px;
}

.comm_logo_contain .logo_inter {
    width: 1px;
    height: 20px;
    background: #4c4a46;
    display: inline-block;
    margin: 15px 0;
    float: left;
}

.comm_logo_contain .choice_name {
    padding: 0 16px;
    position: relative;
    color: #ffffff;
}

.comm_logo_contain a:hover {
    color: red;
    background: #ffffff;
}

.hidedu-dwa {
    position: fixed;
    left: 0px;
    top: 80px;
    display: none;
}

.comm_logo_contain a:hover .hidedu-dwa {
    z-index: 2;
    display: block;
}

.comm_logo_contain .choice_name_span {
    display: block;
    float: left;
    font-size: 14px;
    width: auto;
    height: 50px;
    line-height: 50px;
}

.comm_logo_contain .choice_triangle {
    float: left;
    width: 7px;
    height: 4px;
    background-image: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png);
    background-repeat: no-repeat;
    margin: 22px 0 21px 5px;
}

.comm_logo_contain .choice_triangle_negtive {
    background-position: -166px -14px;
}

.comm_logo_contain .nav_logo_negtive {
    background-position: 0 0;
}

.comm_logo_contain .nav_logo {
    float: left;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin: 13px 5px 13px 0;
}

.comm_logo_contain .comm_contain_right {
    height: 50px;
    width: auto;
    float: right;
    position: relative;
    line-height: 50px;
    min-width: 340px;
}

.comm_logo_contain .comm_contain_right a {
    height: 50px;
    width: 65px;
    display: inline-block;
    margin-right: 15px;
    line-height: 50px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    float: left;
}

.comm_logo_contain .comm_contain_right .contain_right {
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/fax_hot.gif) no-repeat;
    width: 59px;
    height: 45px;
    position: absolute;
    top: -7px;
    left: 0;
}

.comm_contain_right .search_input {
    display: inline-block;
    float: left;
    height: 25px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) no-repeat 0 -67px;
    width: 211px;
    vertical-align: middle;
    margin: 13px 40px 12px 0;
}

.search_input input {
    display: block;
    float: left;
    line-height: 18px;
    width: 170px;
    height: 18px;
    border: none;
    margin: 3px 0 2px 6px;
    color: #C4C4C4;
    font-style: italic;
    font-size: 100%;
}

#box {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
}

#box .img-box {
    height: 100%;
    position: relative;
}

#box .img-box li {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s;
    opacity: 0;
    font-size: 50px;
}

#box .img-box li.active {
    z-index: 1;
    opacity: 1;
}

#box .img-box a {
    display: block;
    font-size: 60px;
    line-height: 600px;
    text-align: center;
}

#box .list-box {
    bottom: 0;
    left: 0;
    top: 616px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    z-index: 5;
}

#box .list-box li {
    display: inline-block;
    width: 240px;
    height: 30px;
    line-height: 30px;
    margin: 20px 1px 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #ffffff;
    position: relative;
}

#box .list-box li:last-child {
    margin-right: 0;
}

#box .box-btn span {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

#box .box-btn-left {
    width: 31px;
    cursor: pointer;
    height: 47px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) -219px 0 no-repeat;
    left: 50px;
}

#box .box-btn-right {
    /* position: absolute; */
    width: 31px;
    height: 47px;
    cursor: pointer;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/comm/global_009.png) -219px -47px no-repeat;
    right: 50px;
}

.swiper-image {
    max-width: 1903px;
    height: 666.05px;
    min-width: 1903px;
}

#box .list-box li.active {
    background: rgba(238, 39, 55, 0.8);
    color: #ffffff;
}

.zjyBox {
    width: 100%;

}

.zjyBox img {
    margin-top: 70px;
    margin-bottom: 5px;
    width: 100%;
}

.fiveVenue {
    width: 100%;
    height: 225px;
    background: #ebebeb;
}

.fiveVenue_top {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.hc_box {
    float: left;
    width: 126px;
    height: 205px;
    margin-top: 10px;
    margin-right: 110px;
    text-align: center;
}

.hc_box_pic {
    width: 126px;
    height: 155px;
    text-align: center;
}

.hc_box_pic img {
    transition: margin 0.3s;
}

.hc_box_word {
    width: 150px;
    height: 41px;
    text-align: center;
    padding-top: 5px;
}

.hc_box_word a {
    font-size: 14px;
    font-family: 微软雅黑;
    color: #313131;
}

.hc_box .hc_box_pic a:hover img {
    transform: translateX(-5px);
    transition-duration: 0.3s;
}

.indexContent {
    min-width: 1260px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.width-100 {
    width: 100%;
    min-width: 1190px;
}

.technology_box {
    position: relative;
    margin: 0 auto;
    width: 1190px;
}

.technology_box .show {
    width: 1096px;
    height: 118px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: red;
}

.technology_box .innerBox {
    width: 2055px;
    margin-left: 0;
    height: 118px;
    background-color: salmon;
}

.hotStyle {
    width: 100%;
    height: 660px;
    background-color: #C4C4C4;
    overflow: hidden;
}

.hotTitle {
    width: 100%;
    text-align: center;
    height: 33px;
    line-height: 33px;
    font-size: 32px;
    color: #747474;
    font-weight: bold;
    margin-top: 42px;
}

.hotContent {
    width: 1192px;
    height: 525px;
    margin: 40px auto 0;
    background-color: #fff;
}

.hotChoice {
    width: 30px;
    height: 453px;
    float: left;
    background-color: aqua;
}

.choiceItem {
    width: 30px;
    height: 89px;
    margin-bottom: 2px;
    text-align: center;
    position: relative;
    z-index: 5;
    cursor: pointer;
    display: block;
    background-color: #5e5e5e;
}

.choiceItem .cur {
    background: red;
    color: #fff;
}

.current {
    display: block;
}

.choiceItem span {
    width: 13px;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    margin-top: 24px;
}

.choiceItem em {
    width: 4px;
    height: 8px;
    position: absolute;
    top: 42px;
    right: -4px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/index/g_a.png) no-repeat;
}

.hotGoods {
    width: 1156px;
    height: 519px;
    border: 3px solid #fff;
    position: relative;
    /* display: none; */
    float: left;
}

/* .hotGoods :hover {
    display: block;
} */
.choiceContent {
    width: 1156px;
    height: 519px;
}

.goodsItem {
    width: 231px;
    height: 259px;
    float: left;
    /* position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    padding: 0px;
    float: left; */
}

.goodsPic {
    width: 160px;
    height: 160px;
    display: block;
    float: left;
    margin-top: 26px;
    margin-left: 22px;
}

.goodsPic img {
    width: 100%;
    height: 100%;
}

.goodsInfo {
    width: 190px;
    height: 46px;
    margin: 204px auto 0;
    display: block;
    clear: both;
}

.buyInfo {
    width: 190px;
    height: 46px;
    background: url(https://cdns.lining.com/shop/lining/theme/xth2/images/index/lining_161227_buy.jpg) no-repeat center right;
}

.goodsPrice {
    width: 135px;
    height: 28px;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
}

.goodsName {
    width: 135px;
    height: 18px;
    text-align: left;
    line-height: 18px;
    font-size: 12px;
}

.goodsItem:hover {
    box-shadow: 0 0 10px 3px #cccccc;
}
.container {
    min-width: 990px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wrapper {
    width: 990px;
    margin: 0 auto;
    margin-top: 66px;
    position: relative;
}
.wrapper-img {
    width: 1920px;
    margin-left: -465px;
    position: relative;
}
.wrapper-img img {
    display: block;
}
.dwaf {
    width: 990px;
    margin: 0 auto;
    position: relative;
}
.entrance {
    width: 831px;
    height: 428px;
    position: absolute;
    top: 943px;
    left: 73px;
}
.entrance a {
    display: block;
    width: 143px;
    height: 428px;
    /* background-color: red; */
    /* border: 1px solid skyblue; */
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    transition: all .5s;
}
.entrance a.entrance_lb {
    width: 255px;
    transition: all .5s;
}
.tab {
    position: absolute;
    top: -23px;
    left: 99px !important;
    /* left: 110px !important; */
}
.tab1, .tab2 {
    width: 134px;
    height: 44px;
    background-color: rgba(0,0,0,0);
    border-radius: 15px;
    position: absolute;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
}
.tab1 {
    top: 130px;
    left: 168px;
}
.tab2 {
    top: 130px;
    left: 479px;
}
.box>div{
    display: none 
}
.box>.shop-6{
    position: absolute;
    top: 222px;
    left: -73px;
    width: 1000px;
    height: 841px;
    font-family: 微软雅黑;
    display: block !important;
}
.shop-7 {
    position: absolute;
    top: 222px;
    left: -73px;
    width: 1000px;
    height: 841px;
    font-family: 微软雅黑;
    display: block;
}
.bba {
    position: absolute;
    top: 105px;
    left: -73px;
}
.check {
    background-color: #000;
    color: #fff;
    display: block;
    border: none;
    /* border: 1px solid #d9211f; */
    box-sizing: border-box;
}
.goods {
    background-color: #fff;
    width: 184px;
    height: 276px;
    display: inline-block;
    margin-bottom: 4px;
    position: relative;
    /* background-color: aqua; */
}
.goods-img {
    width: 184px;
    height: 180px;
}
.goods-info {
    width: 184px;
    height: 70px;
    padding: 0 18px;
    position: relative;
    box-sizing: border-box;
}
.goods-name {
    top: 10px;
    font-size: 14px;
    width: 160px;
    color: #605c5c;
    height: 39px;
    overflow: hidden;
    text-align: left;
    line-height: 19px;
}
.sku div, .sku a {
    position: absolute;
    display: block;
}
.price-style2 {
    top: 50px;
    color: #c91212;
}
.rmb {
    font-size: 14px;
    font-weight: bold;
}
.price {
    font-size: 24px;
    left: 11px;
    top: -3px;
    font-weight: bold;
}
.buyitnow-a {
    width: 60px;
    height: 16px;
    bottom: -2px;
    right: 20px;
}
.buyitnow-a img {
    width: 60px;
    height: 16px;
}
.zhiJiang {
    position: absolute;
    left: 3px;
    top: 0;
    width: 53px;
    height: 39px;
    background: url(https://cdns.lining.com/postsystem/docroot/images/promotion/201707/zhijiang.png) no-repeat center top;
}
.zj_word {
    font-size: 14px;
    color: #fecf84;
    font-family: "微软雅黑";
    width: 100%;
    text-align: center;
    height: 16px;
    line-height: 16px;
}
.zj_word2 {
    font-size: 16px;
    color: #fecf84;
    width: 100%;
    font-family: "微软雅黑";
    text-align: center;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}
